@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-100%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.myBounce {
    animation: bounce 2s infinite;
}

@keyframes horizontalBounce {
    0%, 100% {
        transform: translateX(-75%);
        animation-timing-function: cubic-bezier(0.8, 0, 0.4, 0.5);
    }
    50% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 0.5);
    }
}

.workTogether {
    animation: horizontalBounce 2s infinite;
}
