@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-100%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.myBounce {
    animation: bounce 2s infinite;
}

@keyframes bounceRight {
    from {
        transform: translateX(-50%);
        animation-timing-function: cubic-bezier(0.4, 0, 0.8, 0.4);
    }
    to {
        transform: translateX(0%);
        animation-timing-function: cubic-bezier(0.4, 0, 0.8, 0.4);
    }
}

.workTogether {
    animation: bounceRight 1s infinite;
    animation-direction: alternate;
}

@layer components {
    .contactInput {
        @apply w-full border border-b-black dark:border-b-gray-500 border-2 border-x-0 border-t-0 text-black bg-white dark:bg-black py-3 font-extralight uppercase
    }

    .contactInput:focus-visible {
        @apply outline-none
    }

    .arrowDiv {
        @apply absolute text-4xl p-4 bg-white text-black rounded-full cursor-pointer shadow-2xl drop-shadow-2xl
    }
}

.filterShadowLeft {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0.8553396359) 8%, rgba(0, 0, 0, 0.4771883754) 12%, rgba(0, 0, 0, 0.25) 14%, rgba(0, 212, 255, 0) 18%);
}
.filterShadowRight {
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0.8553396359) 8%, rgba(0, 0, 0, 0.4771883754) 12%, rgba(0, 0, 0, 0.25) 14%, rgba(0, 212, 255, 0) 18%);}

